@import url("https://fonts.googleapis.com/css2?family=Marcellus&display=swap");
body {
  background: rgb(203, 204, 176);
  margin: 0;

  font-family: "Marcellus", serif;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}
